.board-item {
  width: 250px;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.9);
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.board-item:hover {
  transform: scale(1.1);
}